@mixin fonts($size, $fontWeight: 400, $lineHeight: 1.2, $fontStyle: normal) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  font-style: $fontStyle;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}