@mixin fonts($size, $fontWeight: 400, $lineHeight: 1.4, $fontStyle: normal) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  font-style: $fontStyle;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin flex($x: space-between, $y: center) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

@mixin bg($url, $posX: center, $posY: center, $size: cover) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $posX $posY;
  background-size: $size;
}