:root {
  --color-black: #111111;
  --color-blue: #0E1D77;
  --color-green: #009900;
  --color-green-dark: #006E00;
  --color-yellow: #FFCC33;
  --color-white: #FFFFFF;
  --color-grey: #C1C1C1;

  --containerWidthLg: 1720px;
}